// COLORS

$color-primary: #e1f5fe;

$color-primary-dark: #1976d2;

$color-secondry-dark: #005b9f;

$color-blue-1: #20caff;
$color-blue-2: #3178c6;
$color-blue-3: #0a23b9;

$color-tretiary: #000;

$color-white: #fff;

$color-black: #202124;

$color-grey: #5f6368;

$color-indigo-light: #aab6fe;

$color-cyan: #72d4f3;

$color-orange: #ffa726;
$color-orange-2: #f0672f;
$color-red: #b71c1c;
$color-red-2: #f9636b;
$color-red-3: #b6246e;

$color-purple: #ae52d4;
$color-purple-2: #4e56a6;

$color-pink: #df78ef;

$color-yellow: #fdd835;

$color-green: #2e7d32;
$color-green-2: #14ffaf;
$color-teal-light: #00E5FF;

// FONTS

$font-family-main: "Lato";
$font-family-second: "sans-serif";

// GRID SYSTEM

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
