.header {
  position: relative;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  @include addMediaQuery(tablet) {
    flex-direction: column;
  }

  &__laptop {
    width: 40%;

    @include addMediaQuery(tablet) {
      width: 70%;
    }
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $color-primary;
    height: 100vh;
    width: 100%;
    z-index: -1;
  }

  &__background-image {
    display: block;
    position: absolute;
    bottom: -11rem;
    left: 40%;
    width: 48rem;
    opacity: 0.22;
    z-index: 1;
    transition: all 0.3s;

    @include addMediaQuery(tablet) {
      width: 31rem;
    }
  }

  &__text-box {
    display: block;
    // position: absolute;
    // top: 50%;
    // left: 10%;
    width: 40rem;
    z-index: 5;

    @include addMediaQuery(tablet) {
      display: block;
      width: auto;
      margin: 0 2rem;
    }
  }

  &__image {
    display: block;
    position: absolute;
    top: 30%;
    right: 10%;
    width: auto;
    height: 37rem;
    transition: all 0.09s ease-out;
    z-index: 5;

    @include addMediaQuery(laptop) {
      height: 30rem;
    }

    @include addMediaQuery(tablet) {
      display: none;
    }
  }

  &__logo-box {
    padding-top: 3rem;
  }

  &__logo {
    display: block;
    width: auto;
    height: 18rem;
  }

  &__view-more {
    position: absolute;
    transform: translate(-50%, 50%);
    top: 87%;
    left: 50%;
  }
}
