.header {
  // height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 5rem;

  @include addMediaQuery(tablet) {
    flex-direction: column;
    height: 100%;
  }

  &__laptop {
    width: 61rem;

    @include addMediaQuery(tablet) {
      width: 70%;
    }
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $color-primary;
    height: 100vh;
    width: 100%;
    z-index: -1;
  }

  &__background-image {
    display: block;
    position: absolute;
    bottom: -11rem;
    left: 40%;
    width: 48rem;
    opacity: 0.22;
    z-index: 1;
    transition: all 0.3s;

    @include addMediaQuery(tablet) {
      width: 31rem;
    }
  }

  &__text-box {
    display: block;
    // position: absolute;
    // top: 50%;
    // left: 10%;
    width: 40rem;
    z-index: 5;
    position: relative;
    transition: all 0.2s;
    color: white;
    padding: 1rem;

    @include addMediaQuery(tablet) {
      display: block;
      width: auto;
      margin: 0 2rem;
      margin-bottom: 3rem;
      margin-top: 3rem;
    }

    &:before {
      content: "";
      position: absolute;
      top: -3px;
      left: -15px;
      width: 110%;
      height: 110%;
      background-color: #20caff;
      z-index: -1;
      mix-blend-mode: multiply;
      transition: all 0.2s;
      transform-origin: top;
    }

    // &:hover:before {
    //   top: -6px;
    //   left: 0;
    //   transform: perspective(1000px) rotateX(90deg);
    // }

    &:after {
      content: "";
      position: absolute;
      top: 3px;
      left: -9px;
      width: 110%;
      height: 110%;
      background-color: #ff7675;
      z-index: -1;
      mix-blend-mode: multiply;
      transition: all 0.2s;
      transform-origin: bottom;
    }

    &:hover:after {
      top: 0px;
      left: -15px;
      // transform: perspective(1000px) rotateX(-90deg);
    }

    // &:hover {
    //   color: #272727;
    // }
  }

  &__image {
    display: block;
    position: absolute;
    top: 30%;
    right: 10%;
    width: auto;
    height: 37rem;
    transition: all 0.09s ease-out;
    z-index: 5;

    @include addMediaQuery(laptop) {
      height: 30rem;
    }

    @include addMediaQuery(tablet) {
      display: none;
    }
  }

  &__logo-box {
    padding-top: 3rem;
  }

  &__logo {
    display: block;
    width: auto;
    height: 18rem;
  }

  &__view-more {
    position: absolute;
    transform: translate(-50%, 50%);
    top: 87%;
    left: 50%;
  }
}

// a {
//   width: 300px;
//   height: 60px;
//   text-decoration: none;
//   text-transform: uppercase;
//   background-color: transparent;
//   text-align: center;
//   line-height: 60px;
//   font-weight: bold;
//   letter-spacing: 2px;
//   position: relative;
//   transition: all 0.2s;
//   color: white;
// }

// a:before {
//   content: "";
//   position: absolute;
//   top: -3px;
//   left: -3px;
//   width: 100%;
//   height: 100%;
//   background-color: #20caff;
//   z-index: -1;
//   mix-blend-mode: multiply;
//   transition: all 0.2s;
//   transform-origin: top;
// }

// a:hover:before {
//   top: -6px;
//   left: 0;
//   transform: perspective(1000px) rotateX(75deg);
// }

// a:after {
//   content: "";
//   position: absolute;
//   top: 3px;
//   left: 3px;
//   width: 100%;
//   height: 100%;
//   background-color: #ff7675;
//   z-index: -1;
//   mix-blend-mode: multiply;
//   transition: all 0.2s;
//   transform-origin: bottom;
// }

// a:hover:after {
//   top: 6px;
//   left: 0;
//   transform: perspective(1000px) rotateX(-75deg);
// }

// a:hover {
//   color: #272727;
// }
