.card {
  display: block;
  font-family: "Roboto", sans-serif;
  height: 44rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  width: 32rem;
  margin: 4rem 2rem;

  // @include addMediaQuery(laptop) {
  //     width: 23rem;
  // }

  &--h-35 {
    height: 35rem;
  }

  @include addMediaQuery(tablet) {
    width: 100%;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__image-box {
    overflow: hidden;
    height: 27rem;
    border: 1px solid rgba($color-black, 0.2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 0;
    transition: all ease 0.2s;

    @include addMediaQuery(tablet) {
      opacity: 1;
    }

    &--h-18 {
      height: 18rem;
      //   margin-bottom: 12rem;
    }
  }

  &__image {
    display: block;
    width: 100%;

    // @include addMediaQuery(laptop) {
    //     width: 23rem;
    // }

    @include addMediaQuery(tablet) {
      width: 100%;
    }
  }

  &__text-block {
    margin-top: 3rem;
    margin-bottom: 7rem;
    transform: translateY(-18.21rem);
    transition: all 0.5s ease;

    @include addMediaQuery(tablet) {
      transform: translateY(0rem);
    }
  }

  &__link {
    color: $color-black;
  }

  &__title {
    display: inline-block;
    color: $color-black;
    font-size: 2.5rem;
    transform: scale(1);
    transition: all ease 0.3s;
  }

  &__description {
    color: $color-grey;
    font-size: 1.52rem;
    margin-bottom: 2rem;
    transform: scale(1);
    transition: all ease 0.3s;

    &--m-bottom {
      margin-bottom: 11rem;
    }
  }

  &__languages {
    margin-left: 1rem;

    @include addMediaQuery(tablet) {
      margin-left: 0rem;

      span {
        transform: translateY(0rem);
      }
    }
  }

  &__code {
    font-size: 1.43rem;
    font-weight: 600;
    display: inline-block;
    margin-right: 0.5rem;
    border-radius: 3px;
    transform: translateY(2.25rem);
    padding: 0.2rem 0.5rem;

    @include addMediaQuery(laptop) {
      font-size: 1.31rem;
    }

    &--css {
      color: $color-white;
      background-color: $color-primary-dark;
      transition: all 0.3s ease 0.3s;
    }

    &--js {
      color: $color-black;
      background-color: $color-yellow;
      transition: all 0.3s ease 0.32s;
    }

    &--php {
      color: $color-black;
      background-color: $color-purple;
      transition: all 0.3s ease 0.33s;
    }

    &--jquery {
      color: $color-white;
      background-color: $color-purple;
      transition: all 0.3s ease 0.33s;
    }

    &--nodejs {
      color: $color-white;
      background-color: $color-green;
      transition: all 0.3s ease 0.33s;
    }

    &--mongodb {
      color: $color-white;
      background-color: $color-green;
      transition: all 0.3s ease 0.35s;
    }

    &--mysql {
      color: $color-black;
      background-color: $color-indigo-light;
      transition: all 0.3s ease 0.35s;
    }
  }

  &:hover {
    // padding: 0rem 2rem 1rem 1rem;
    transform: translateY(0rem);
  }

  &:hover &__text-block {
    // padding: 0rem 2rem 1rem 1rem;
    transform: translateY(0rem);
  }

  &:hover &__languages {
    span {
      transform: translateY(0rem);

      &:hover {
        transform: translateY(-1rem);
      }
    }
  }

  &:hover &__title {
    transform: scale(0.8);

    @include addMediaQuery(tablet) {
      transform: scale(1);
    }
  }

  &:hover &__description {
    transform: scale(0.94);

    @include addMediaQuery(tablet) {
      transform: scale(1);
    }
  }

  &:hover &__image-box {
    border: 1px solid rgba($color-black, 0.2);
    animation: fadeIn 0.5s ease 0.3s 1;
    backface-visibility: hidden;
    animation-fill-mode: forwards;
  }

  &:hover &__image-box &__image--animate {
    animation: thumbnail 20s ease 1s infinite;
  }

  &:hover &__image-box &__image--disable-scroll {
    animation: none;
  }

  &:hover &__link {
    color: $color-primary-dark;

    &:hover {
      color: $color-secondry-dark;
    }
  }
}
