*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-image: linear-gradient(
    to bottom,
    rgba(#112564, 1),
    rgba(#020230, 1)
  );
}

::selection {
  background-color: $color-black;
  color: $color-white;
}
