.u-center-text {
    text-align: center;
}

.u-right-text {
    text-align: right;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
    margin-bottom: 5rem;
}

.u-margin-bottom-large {
    margin-bottom: 7rem;
}

.u-margin-top-small {
    margin-top: 1.5rem;
}

.u-margin-top-medium {
    margin-top: 5rem;
}

.u-margin-top-large {
    margin-top: 7rem;
}

.u-flex {
    display: flex;
}

.u-flex-center {
    justify-content: center;
}

.u-show-tablet {
    display: none;

    @include addMediaQuery(tablet) {
        display: block !important;
    }
}

.u-hide-tablet {
    display: block;

    @include addMediaQuery(tablet) {
        display: none !important;
    }
}