.section-project {
  padding: 5rem 5rem 10rem 5rem;

  @include addMediaQuery(tablet) {
    padding: 0rem 0 30rem 0;
  }
}

.footer {
  padding: 15rem 5rem 10rem 5rem;
  background-color: rgba($color-indigo-light, 0.2);

  @include addMediaQuery(tablet) {
    padding: 15rem 0 10rem 0;
  }
}

.section-about {
  padding: 5rem 5rem 10rem 5rem;

  @include addMediaQuery(tablet) {
    padding: 0rem 0 30rem 0;
  }
}
